<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

    <script th:src="@{jquery/jquery-3.2.1.min.js}"></script>
    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>

    <script th:src="@{common/common-page.js}"></script>
    <script th:src="@{js/utils/DateUtil.js}"></script>

</head>

<body>
    <form action="#" id="form1" th:action="@{/updateTaskStatus}" method="post">
      <div th:replace="fragment/navbar :: navbar"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6">

                </div>
                <div class="col-xs-6">
                    <ul class="nav nav-pills pull-right">
                        <li>
                            <a href="#" class="changeStatDt" data-miner-num="1" data-miner-unit="D">近1天</a>
                        </li>
                        <li>
                            <a href="#" class="changeStatDt" data-miner-num="1" data-miner-unit="M">近1月</a>
                        </li>
                        <li>
                            <a href="#" class="changeStatDt" data-miner-num="3" data-miner-unit="M">近3月</a>
                        </li>
                        <li>
                            <a href="#" class="changeStatDt" data-miner-num="1" data-miner-unit="Y">近1年</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="row form-inline">
              <div class="" th:object="${taskFactModel}">
                <div class="row ">
                  <div class="col-xs-1">

                  </div>
                  <div class="col-xs-3 ">
                    <div class="form-group">
                      <label>任务日期:</label>
                      <input type="text" class="form-control" name="statDtBegin" style="width:30%"  th:value="*{statDtBegin}" />
                      -
                      <input type="text" class="form-control" name="statDtEnd" style="width:30%"  th:value="*{statDtEnd}" />
                    </div>
                  </div>

                  <div class="col-xs-3 ">
                    <div class="form-group">
                      <label for="">任务类型：</label>
                      <input type="text" class="form-control" name="taskType" th:value="*{taskType}" />
                    </div>
                  </div>

                  <div class="col-xs-3 ">
                    <div class="form-group">
                      <label for="">任务粒度：</label>
                    </div>
                    <input type="text" class="form-control" name="granularity" th:value="*{granularity}" />
                  </div>
                  <div class="col-xs-2">

                  </div>

                </div>
                <br/>
                <div class="row">
                  <div class="col-xs-1">

                  </div>
                  <div class="col-xs-3">
                    <div class="form-group">
                      <label for="">任务id：</label>
                    </div>
                    <input type="text" class="form-control" name="id.taskId" th:value="*{id.taskId}" />
                  </div>
                  <div class="col-xs-3">
                    <label for="">任务状态：</label>
                    <input type="text" class="form-control" name="status" th:value="*{status}" />
                  </div>
                  <div class="col-xs-3">
                    <label for="">查找前置任务id：</label>
                    <input type="text" class="form-control" name="prevTaskId" th:value="*{prevTaskId}" />
                  </div>
                  <div class="col-xs-2">

                  </div>
                </div>
                <br/>
                <div class="row">
                  <div class="col-xs-1">

                  </div>
                  <div class="col-xs-3">
                      <label for="">查找后置任务id：</label>
                    <input type="text" class="form-control" name="nextTaskId" th:value="*{nextTaskId}" />
                  </div>
                  <div class="col-xs-3">
                  </div>
                  <div class="col-xs-3">
                  </div>
                  <div class="col-xs-2">

                  </div>
                </div>
              </div>

            </div>
            <div class="row">
                <div class="col-xs-6">
                    <!-- 分页 -->
                    <div th:replace="fragment/page :: pagination"></div>
                </div>
                <div class="col-xs-6">

                    <div class="input-group pull-right col-xs-3" style="margin:30px">

                        <span class="input-group-btn">
                          <button class="btn btn-primary" type="button" id="search" style="margin-right:5px">搜索</button>

                          <button class="btn btn-danger"  type="button" id="setstate">设置状态</button>
                        </span>
                        <input type="text" name="submitStatus" value="2" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- 数据 -->
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <th>
                            <span>
                                <a href="#" onclick="selectAll()">全选</a> &nbsp;
                                <a href="#" onclick="unselectAll()">取消</a>
                            </span>
                        </th>
                        <th>数据日期</th>
                        <th>任务id</th>
                        <th>任务类型</th>
                        <th>计算开始时间</th>
                        <th>计算结束时间</th>
                        <th>允许计算时间</th>
                        <th>创建时间</th>
                        <th>任务状态</th>
                    </thead>
                    <tbody>
                        <tr th:each="task,taskstat:${page}">
                            <td>
                                <input type="checkbox" name="checkboxid" class="checkboxid" th:value="${task.id.taskId}" />
                                <input type="hidden" name="checkboxstatdt" th:value="${task.id.statDt}" />
                                <!-- <input type="hidden" name="id" th:value="${task.id}" /> -->
                            </td>
                            <td>
                                <span th:text="${task.id.statDt}"></span>
                            </td>
                            <td>
                                <span th:text="${task.id.taskId}"></span>
                            </td>
                            <td>
                                <span th:text="${task.taskType}"></span>
                            </td>
                            <td>
                                <span th:text="${task.calBeginTime}"></span>
                            </td>
                            <td>
                                <span th:text="${task.calEndTime}"></span>
                            </td>
                            <td>
                                <span th:text="${task.allowCalTime}"></span>
                            </td>
                            <td>
                                <span th:text="${task.createtime}"></span>
                            </td>
                            <td>
                                <span th:text="${task.status}"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <script th:src="@{js/tasklist.js}"></script>
    </form>

</body>

</html>
